*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    background-color: rgb(170, 170, 172);
}

nav {
    background-color: #1212a1;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav div img {
    width: 50px;
    border-radius: 50px;
    box-shadow: 2px 3px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: white;
    border-bottom: 1px solid white;
}





.home-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.isi-home {
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    margin-top: 10vh;
    box-shadow: 3px 4px;
    background-color: #1212a1;
}

.home-img {
    margin-right: 25px;
    border-radius: 100px;
    width: 100px;
}


.home-teks {
    text-decoration: none;
    color: white;
    font-size: 40px;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-teks:hover {
    color: white;
    border-bottom: 1px solid white;
}








.class-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-class {
    margin-top: 10vh;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    box-shadow: 3px 4px;
    background-color: #1212a1;
}

.class-teks {
    font-size: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}








.material-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-material {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    box-shadow: 3px 4px;
    background-color: #1212a1;
}

.material-teks {
    font-size: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}









.choise-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-choise {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    box-shadow: 3px 4px;
    background-color: #1212a1;
}

.choise-teks {
    font-size: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

















.produk-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-produk {
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    margin-top: 7vh;
    box-shadow: 3px 4px;


    background-color: #1212a1;
}

.img-produk {
    margin-right: 25px;
    border-radius: 100px;
    width: 100px;
}

.produk-teks {
    font-size: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}










.help-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi-help {
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 50px;
    margin-top: 7vh;
    box-shadow: 3px 4px;


    background-color: #1212a1;
}


.help-teks {
    font-size: 75px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}